*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: skyblue;
    box-sizing: border-box;
    display: grid;
    overflow-y: scroll;  
    overflow-x: scroll;  
}

/*STYLING THE LOGO*/
.instructions-box{
    height: 20%;
    width: 50%;
    margin-left: 25%;
    margin-right: 30px;
    position: absolute;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 40%;
    cursor: pointer;
    user-select: none; 
    border: 1px solid cornflowerblue;
    user-select: none; 
    box-shadow: 5px 5px 13px steelblue,
                -5px -5px 13px steelblue;
}

/*INSTRUCTIONS BOX STYLING*/
.info_box{
    height: fit-content;
    width: fit-content;
    min-width: 20px;
    min-height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    contain: content;
    box-shadow: 13px 13px 20px lightgray,
    -13px -13px 20px lightgrey;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}



/*STYLING INSTREUCTIONS*/
.info_box .info_title{
    height: 60px;
    border-bottom: 1px solid blue;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 700;
    color: blue;
    user-select: none;
} 

.info_box .info_list{
    padding: 10px 35px;
    user-select: none;
}

.info_box .info_list .info{
    margin: 5px 0px;
    font-size: 17px;
}

.info_box .info_list .info b{
    color: blue;
    font-size: 15px;
    font-weight: 600;
}
 .important{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: blue;
 }
 .warning{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    color: slateblue;
    font-weight: 700;
    font-size: 10px;

 }
.info_box .buttons{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    border-top: 1px solid blue;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3 ease-out;
}

.info_box .buttons .Exit{
    border-color: blue;
    color: blue;
}

.info_box .buttons .Start{
    color: white;
    background: blue;
}

.info_box .buttons .Exit:hover{
    background-color: blue;
    color: white;
}

.info_box .buttons .Start:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

footer{
    display: none;
}
